.logo {
    border: solid 1px white;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    width: 50px;
    height: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: white;
}

.main {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding-bottom: 40px;
    position: relative;
    margin: 40px 0px;
}



.nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav a:hover {
    text-decoration: underline;
}